.vscode
raw_data/
committee-master
contributions_by_individuals
contributions_by_individuals_2016
contributions_by_individuals_2020
credentials.json
scripts/*.class
indiv20.zip
indiv20
out.txt
indiv2020
indiv2020/
indiv2020.zip
ccl20.zip
pas220.zip
node_modules
indiv16
indiv16.zip